<div class='slider'>
</div>

<main class='main'>
  <h1 class='main-center__header'>勉強会一覧</h1>
  <div class='main-center'>
    <%= render partial: 'event', collection: @events %>
  </div>
  <h1 class='main-center__header'>ユーザー一覧</h1>
  <div class='main-center'>
    <%= render partial: 'user', collection: @users %>
  </div>
</main>