<div class='header'>
  <div class='header__left'>
    <div class='header__left__logo'>
      sutudy_group
    </div>
  </div>
  <div class='header__right'>
    <div class='header__right__menu'>
      <%= link_to new_user_session_path do%>
        <div class='login'>
          ログイン
        </div>
      <% end %>
      <%= link_to new_user_registration_path do%>
        <div class='sign_up'>
          アカウント作成
        </div>
      <% end %>
    </div>
  </div>
</div>


<div class='slider'>
</div>


<main class='main'>
  <h1 class='main-center__header'>勉強会一覧</h1>
  <div class='main-center'>
    <div class='event'>

    </div>
  </div>
</main>


<footer class='footer'>
  <div class='copywright'>
    <p><span>©︎study_group</span></p>
  </div>
</footer>