.event {
  width: 48%;
  padding: 20px;
  margin: 14px;
  box-shadow: 0 0 8px gray;
  font-size: 15px;
}

.event_start_time {
  font-size: 15px;
}

.event_left {
  float: left;
}

.main-center {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: row;
}