.footer {
  width: 100%;
  height: 300px;
  padding: 10px;
  background-color: rgb(34, 34, 34);
}

.copywright {
  width: 100%;
  margin-top: 250px;
  color: white;
}

.copywright p {
  text-align: center;
}

span {
  width: 100%;
  text-align: center;
}