.user_show_main {
  padding: 20px;
  width: 100%;
}

.my_page_user {
  padding: 40px;
  margin: 30px auto 0;
  text-align: center;
  background-image: image-url("cool-working-space.jpg");
  background-size: 1400px 430px;
  background-repeat: no-repeat;
}

.my_page_user img {
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.my_page_user_name {
  margin-top: 10px;
  color: white;
  font-weight: 600;
}


.user_menu_list {
  margin: 50px auto 0;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.user_menu_list li {
  width: 25%;
}

.user_menu_list li p {
  padding: 20px;
  text-align: center;
}

.active {
  border-bottom: 2px solid tomato;
}

.user_show_main-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.display-none {
  display: none;
}

.user_menu_list_content {
  margin-top: 30px;
}

.my_page_introduction {
  background-color: white;
  padding: 10px;
  text-align: left;
  margin: 0 auto;
  width: 500px;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
}