.user {
  height: 300px;
  width: 300px;
  margin: 15px;
  box-shadow: 0 0 8px gray;
  font-size: 15px;
  padding: 20px;
  &_top {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDD;
  }
}

.user_icon img {
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
}

.name {
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 20px;
}

.user_follow {
  margin-left: auto;
}

.button-follow {
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, tomato 100%);
  transition: .4s;
}

.button-follow:hover {
  background-image: linear-gradient(45deg, #FFC107 0%, tomato 100%);
}